* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #222;
  flex-direction: column;
  transition: background-color 0.3s linear;
}

body.light {
  background-color: rgb(254, 255, 190);
}

ul {
  position: relative;
  display: flex;
  transform: rotate(-25deg) skew(25deg);
  transform-style: preserve-3d;
}

ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 0 10px;
}

ul li:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #2a2a2a;
  transform-origin: top;
  transform: skewX(-41deg);
}

ul li:after {
  content: '';
  position: absolute;
  top: 0px;
  left: -8.5px;
  width: 9px;
  height: 100%;
  background-color: #2a2a2a;
  transform-origin: right;
  transform: skewY(-49deg);
}

ul li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: rgba(255, 255, 255, 0.2);
  font-size: 30px !important;
  transition: 0.2s;
}

ul li:hover span {
  z-index: 999;
  color: #fff;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

ul li:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

ul li:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}

ul li:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}

ul li:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}

ul li:hover span:nth-child(1) {
  transform: translate(0px, 0px);
  opacity: 0.2;
}

ul li:nth-child(1):hover span {
  background-color: #3b5999;
}

ul li:nth-child(2):hover span {
  background-color: #e4405f;
}

ul li:nth-child(3):hover span {
  background-color: #0077B5;
}


.label {
  background-color: rgb(131, 131, 131);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  transform: scale(1.7);
  cursor: pointer;
  bottom: 60px;
  
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.ball {
  width: 25px;
  height: 25px;
  background-color: #2a2a2a;
  position: absolute;
  top: 0.5px;
  left: 0.5px;
  border-radius: 50%;
  transition: transform 0.3s linear;
}

.checkbox {
  position: absolute;
  bottom: 60px;
  opacity: 0;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}


